.main-expand-container {
  box-sizing: border-box;
  display: flex;
  color: rgb(68, 68, 68);
  /*height: 315px;*/
  width: 654px;
  column-rule-color: rgb(68, 68, 68);
  font: normal normal 400 normal 15px / 22.5px Gotham, gotham, Verdana,
  sans-serif;
}

.header-toggle {
  cursor: pointer;
  /*height: 68px;*/
  position: relative;
  width: 654px;
  z-index: 1;
  /*align-items: center;*/
  /*justify-content: space-between;*/
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 18px 18px 18px 0px;
}

.expanded {
  border-bottom: 1px solid rgb(204, 204, 204);
}

.chev {
  height: 30px;
  width: 40px;
  float: right;
}

#home-banner-container {
  display: inline-flex;
  height: 180px;
  width: 654px;
  align-items: center;
  background: rgb(226, 239, 252) url('https://s3-us-west-1.amazonaws.com/housing-hr/zillow-robot.png') no-repeat scroll 100%
  100% / 180px padding-box border-box;
}

#home-banner-text {
  width: 444px;
}

#zestimate-detail-container {
  text-align: center;
  width: 654px;
}

#zestimate-range-container,
#zestimate-forecast-container {
  box-sizing: border-box;
  display: inline-block;
  height: 107.578px;
  vertical-align: top;
  width: 217.984px;
  padding: 0px 10px;
}

#zestimate-range-image-container {
  display: block;
  height: 56px;
  background: rgba(0, 0, 0, 0)
  url('https://s3-us-west-1.amazonaws.com/housing-hr/zestimate-house-icon.svg')
  repeat scroll 0% 0% / 56px 56px padding-box border-box;
  margin: 0px 71px 0px 70.9844px;
}

#zestimate-range-title-container,
#zestimate-forecast-image-container {
  padding: 10px 0px 0px 5px;
}

#zestimate-range-title,
#zestimate-forecast-value-container {
  height: 19.5781px;
  text-transform: uppercase;
  width: 192.984px;
  font: normal normal 700 normal 13px / 19.5px Gotham, gotham, Verdana,
  sans-serif;
}

#zestimate-range-value {
  display: inline-block;
  height: 22px;
  width: 130.266px;
}

#zestimate-change-container {
  box-sizing: border-box;
  display: inline-block;
  height: 107px;
  vertical-align: top;
  width: 217.984px;
  padding: 0px 10px;
}

#zestimate-change-image-container {
  display: block;
  height: 56px;
  margin: 0px 71px 0px 70.9844px;
}

.zestimate-change-down {
  background: rgba(0, 0, 0, 0)
  url('https://s3-us-west-1.amazonaws.com/housing-hr/zestimate-down-icon.svg')
  repeat scroll 0% 0% / 56px 56px padding-box border-box;
}

.zestimate-change-up {
  background: rgba(0, 0, 0, 0)
  url('https://s3-us-west-1.amazonaws.com/housing-hr/zestimate-up-icon.svg')
  repeat scroll 0% 0% / 56px 56px padding-box border-box;
}

#zestimate-change-title-container {
  height: 51px;
  vertical-align: middle;
  width: 197.984px;
  padding: 10px 0px 0px 5px;
}

#zestimate-change-title {
  height: 19px;
  text-transform: uppercase;
  width: 192.984px;
  font: normal normal 700 normal 13px / 19.5px Gotham, gotham, Verdana,
  sans-serif;
}

#zestimate-change-value {
  display: inline-block;
  height: 22px;
  width: 127.516px;
}

.zestimate-percentage-decrease {
  color: rgb(252, 56, 74);
  display: inline-block;
  height: 22px;
  width: 55.8125px;
  column-rule-color: rgb(252, 56, 74);
}

.zestimate-percentage-increase {
  color: rgb(3, 192, 74);
  display: inline-block;
  height: 22px;
  width: 57.4688px;
  column-rule-color: rgb(3, 192, 74);
}

#zestimate-forecast-image {
  display: block;
  height: 56px;
  background: rgba(0, 0, 0, 0)
  url('https://s3-us-west-1.amazonaws.com/housing-hr/zestimate-forecast-icon.svg')
  repeat scroll 0% 0% / 56px 56px padding-box border-box;
  margin: 0px 71px 0px 70.9844px;
}

#zestimate-forecast-value-container,
#zestimate-forecast-value {
  display: inline-block;
  height: 22px;
  width: 149px;
}

#zestimate-forecast-value {
  font: normal normal 400 normal 15px / 22.5px Gotham, gotham, Verdana, sans-serif;
}

#zestimate-history-container {
  margin-top: 50px;
  text-align: center;
}

#zestimate-history-title {
  color: rgb(0, 116, 228);
  display: inline-block;
  height: 22px;
  text-align: center;
  cursor: pointer;
}

#expand-zestimate-details-container {
  height: auto;
}

#inside-zestimate-title {
  font: normal normal 700 normal 20px / 30px Gotham, gotham, Verdana, sans-serif;
}


#estimate-based-on-title {
  height: 19px;
  text-transform: uppercase;
  width: 654px;
  font: normal normal 700 normal 13px / 19.5px Gotham, gotham, Verdana,
  sans-serif;
  margin: 40px 0px 0px;
}

#zestimate-subcat-container {
  height: auto;
  width: 654px;
  font: normal normal 400 normal 15px / 22.5px Gotham, gotham, Verdana,
  sans-serif;
}

.expand-subcontainer {
  height: 52px;
  position: relative;
  width: 654px;
  border-bottom: 1px solid rgb(170, 170, 170);
  font: normal normal 400 normal 15px / 22.5px Gotham, gotham, Verdana,
  sans-serif;
}

.zestimate-detail-summary {
  cursor: pointer;
  padding: 18px 0px;
}

.zestimate-detail-spacing {
  cursor: pointer;
}

.zestimate-detail-title {
  cursor: pointer;
  font: normal normal 700 normal 15px / 16.5px Gotham, gotham, Verdana,
  sans-serif;
}

.zestimate-detail-label {
  cursor: pointer;
  font: normal normal 700 normal 15px / 16.5px Gotham, gotham, Verdana,
  sans-serif;
}

#comparable-homes-average {
  bottom: 18px;
  cursor: pointer;
  left: 525.172px;
  position: absolute;
}

#local-sale-prices-average {
  bottom: 18px;
  cursor: pointer;
  left: 525px;
  position: absolute;
}

.zest-chev {
  margin: -10px;
  height: 30px;
  width: 40px;
  float: right;
}

.zestimate-subexpand-container {
  height: 1770px;
  border-bottom: rgb(68, 68, 68) solid 1px;
}

#tax-expand-container {
  height: 1970px;
}

#market-expand-container {
  height: 350px;
}

#home-bottom-spacing {
  height: 100px;
}

.market-date {
  font-size: 12px;
}

#chart-wrapper {
  height: 200px;
  width: 672px;
}

.recharts-surface {
  margin-top: 15px;
}

#dollar-per-sqfoot {
  margin-right: 8px;
}

.similar-zestimate-container {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 654px;
  padding: 20px 0px;
}

.zestimate-similar-image {
  cursor: pointer;
  height: 112px;
  width: 150px;
}

.zestimate-similar-info-container {
  padding: 0px 0px 0px 15px;
}

.zestimate-similar-status-header {
  margin: 0px 0px 15px;
}

.zestimate-similar-status-div {
  font: normal normal 700 normal 13px / 15px Gotham, gotham, Verdana, sans-serif;
}

.status-icon {
  height: 14px;
  width: 14px;
  margin-right: -1px;
}

.zestimate-similar-zestimate {
  font: normal normal 400 normal 28px / 40px Gotham, gotham, Verdana, sans-serif;
  margin: -15px 0px 0px;
}

.zestimate-similar-stats-container, .zestimate-similar-stats-info {
  font: normal normal 700 normal 15px / 20px Gotham, gotham, Verdana, sans-serif;
}

.zestimate-similar-address-link {
  color: rgb(0, 116, 228);
  white-space: nowrap;
  border-color: rgb(0, 116, 228);
  font: normal normal 400 normal 15px / 20px Gotham, gotham, Verdana, sans-serif;
}

.zestimate-similar-proportional-stat{
  position: absolute;
  font: normal normal 400 normal 20px / 15px Gotham, gotham, Verdana, sans-serif;
  margin: 25px 0px 15px;
  right: 0px;
}

#zestimate-graph-toolbar {
  margin-top: 20px;
  background-color: lightgray;
  height: 54px;
  padding-top: 18px;
  width: 630px;
}

#zestimate-graph-selector-container {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-right: 25px;
  cursor: pointer;
}

.zestimate-graph-selector {
  padding: 0px 5px 0px 5px;
  font-weight: 550;
}

.selected {
  border-bottom: solid royalblue;
  margin-top: 3px;
}

.zestimate-subexpand-explanation-container {
  font-size: 15px;
  font-weight: 700;
  height: 110px;
  line-height: 22.5px;
  width: 654px;
}

.zestimate-subdetail-title-name {
  float: left;
}

.zestimate-subdetail-value-name{
  float: right;
  text-align: right;
}

.zestimate-subdetail-heading-container {
  font-size: 13px;
}

#local-sale-container {
  height: 1770px;
  width: 654px;
  font: normal normal 700 normal 15px / 22.5px Gotham, gotham, Verdana, sans-serif;
}

.zestimate-subexpand-explanation {
  height: 88px;
  width: 654px;
  font: normal normal 400 normal 15px / 22.5px Gotham, gotham, Verdana, sans-serif;
}

#local-sale-descriptionSPAN_4, #local-sale-descriptionSPAN_5 {
  font: normal normal 400 normal 15px / 22.5px Gotham, gotham, Verdana, sans-serif;
}

.zestimate-accuracy-link {
  color: rgb(0, 116, 228);
  column-rule-color: rgb(0, 116, 228);
  font: normal normal 300 normal 15px / 22.5px Gotham, gotham, Verdana, sans-serif;
}

.zestimate-compare-container {
  height: 193px;
  width: 654px;
  font: normal normal 400 normal 15px / 22.5px Gotham, gotham, Verdana, sans-serif;
  padding: 20px 0px 0px;
}

.how-calculated-header {
  height: 19px;
  width: 654px;
  font: normal normal 800 normal 13px / 19.5px Gotham, gotham, Verdana, sans-serif;
  margin: 0px 0px 15px;
}

.zestimate-compare-before {
  padding: 30px 0px 0px;
}

.zestimate-compare-value, .zestimate-compare-value-after{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  font: normal normal 100 normal 20px / 30px Gotham, gotham, Verdana, sans-serif;
  margin: 0px 0px 15px;
}

.zestimate-compare-before-title, .zestimate-compare-after {
  display: block;
  width: 196.188px;
  font: normal normal 100 normal 12px / 18px Gotham, gotham, Verdana, sans-serif;
  margin: 10px 0px 0px;
}

.compare-symbol {
  display: inline-block;
  text-align: center;
  width: 32.6875px;
  font: normal normal 100 normal 20px / 30px Gotham, gotham, Verdana, sans-serif;
  margin: 0px 0px 15px;
}

.zestimate-compare-percent {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  font: normal normal 100 normal 20px / 30px Gotham, gotham, Verdana, sans-serif;
}

.zestimate-compare-percent-value {
  display: block;
  width: 196.188px;
  font: normal normal 100 normal 12px / 18px Gotham, gotham, Verdana, sans-serif;
  margin: 10px 0px 0px;
}

.tax-assessment {
  left: 560px;
}

#close-zestimate-details{
  cursor: pointer;
  box-sizing: border-box;
  color: rgb(0, 116, 228);
  display: inline-block;
  text-align: center;
  width: 654px;
  margin-top: 15px;
}

#mortgage-wrapper {
  display: flex;
}


#mortgage-select {
  background-position: 100% -28px;
  box-shadow: rgb(250, 250, 250) 0px 2px 2px 0px inset, rgb(98, 174, 247) 0px 0px 0px 0px;
  color: rgb(68, 68, 68);
  height: 20px;
  min-height: 0px;
  text-decoration: none solid rgb(68, 68, 68);
  width: 260px;
  column-rule-color: rgb(68, 68, 68);
  border: 1px solid rgb(170, 170, 170);
  border-radius: 0px 0px 0px 0px;
  font: normal normal 400 normal 15px / 20px Gotham, gotham, Verdana, sans-serif;
  padding: 0px 23px 0px 6px;
}

.mortgage-num-input {
  width: 260px;
}

.mortgage-shorter {
  width: 200px;
}

.mortgage-percent {
  width: 55px;
}

#mortgage-input-container {
  width: 280px;
}

#mortgage-chart-container {
  float: right;
  position: relative;
  margin-left: -200px;
  margin-top: -120px;
    z-index: -1;
}

#mortgage-chart-legend {
  margin: 10px 0px 0px 15px;
  font-size: 13px;
  width: 130px;
}

#chart-dots {
  height: 107px;
  margin: 11px -10px 0px 0px;
}