.container{
    box-sizing: border-box;
    display: flex;
    color: rgb(68, 68, 68);
    /*height: 315px;*/
    text-decoration: none solid rgb(68, 68, 68);
    width: 654px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 327px 157.5px;
    transform-origin: 327px 157.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal 400 normal 15px / 22.5px Gotham, gotham, Verdana, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_1*/


.header-toggle {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    cursor: pointer;
    /*height: 68px;*/
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(68, 68, 68);
    top: 0px;
    width: 654px;
    z-index: 1;
    column-rule-color: rgb(68, 68, 68);
    /*align-items: center;*/
    /*justify-content: space-between;*/
    perspective-origin: 327px 34px;
    transform-origin: 327px 34px;
    border-top: 1px solid rgb(204, 204, 204);
    border-right: 0px none rgb(68, 68, 68);
    /*border-bottom: 1px solid rgb(204, 204, 204);*/
    border-left: 0px none rgb(68, 68, 68);
    font: normal normal 700 normal 28px / 28px Gotham, gotham, Verdana, sans-serif;
    margin: 0px;
    outline: rgb(68, 68, 68) none 0px;
    padding: 18px 18px 18px 0px;
}/*#H2_1*/

.expanded {
    border-bottom: 1px solid rgb(204, 204, 204);
}

.chev {
    height: 30px;
    width: 40px;
    float: right;
}

.map {
    height: 380px;
    width: auto;
}